.deck
{
	width:60%;
	margin: 20px auto;
	background:#008f49e6;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
    
}

#discard {
    display: inline-block;
    width:60%;
	background:#12bcf4;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
    display:inline-block;
}
button, p, h1, input, div {
    font-family: "Roboto", monospace;
}
.card
{
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 3px;
}

.btn
{
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display:inline-block;
}

.card .value{
	font-size:15pt;
	font-family: sans-serif;
}

.card .suit
{
	background-image: url('card.png');
	height: 100px;
	width: 90px;
}

.card .diamonds
{
	background-position-y: 100px;
}

.card .hearts
{
	background-position-x: 90px;
}

.card .clubs
{
	background-position-x: 90px;
	background-position-y: 100px;
}

.card .none
{
	visibility: hidden;
}

.column {
    width: 118px;
	margin:5px;
	padding:0;
	display:inline-table;
}

.long_column {
	width:118px;
	margin:5px;
	padding:0;
	display:inline-table;
	height:100%;
}
.all {
	display:inline-block;
}

button {
	background: none;
	border: none;
}

h2 {
	margin-top: 10;
	margin-bottom: 10;
}

a {
	color:white;
	text-align:left;
	font-size:20px;
	margin:20px;
    display: block;
    text-decoration: none;
}

a:hover {
    margin-left:25px;
}